<div class="input-group">
    <span class="input-group-btn" id="tag-items-span">
        <tag-item ng-repeat="tag in srv.tagsArray"
                  label="tag"
                  close-item-handler='tagCloseHandler(tag)'>
        </tag-item>
    </span>
    <input type="text"
           class="form-control search-text-input"
           placeholder="Search for..."
           ng-model="srv.searchString">
      <span class="input-group-btn">
        <button ng-click="search()" class="btn btn-secondary" type="button">Search</button>
      </span>
</div>
