$blue: #00b3ee;

@import "grid";
@import "search-input";

html {
  height: 90%;
}

body {
  height: 100%;
}

.max-height-div {
  height: 100%;
}

.bordered-div {
  border: 5px solid $blue;
}

.highlightedText{
  background: #66f8ff;
}
