.bordered-div {
    border: 5px solid #00b3ee;
}

html {
    height: 90%;
}

body {
    height: 100%;
}

.max-height-div {
    height: 100%;
}

.violations {
    border: 2px solid #ee8c6f;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

thead {
   font-weight: bold;
   text-align: center;
}

/*table tr:nth-child(odd)	{
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}*/